name: "Build action: Noetic"

on:
  push:
    branches: [ noetic ]
  pull_request:
    branches: [ noetic ]
  schedule:
    # Run once per day to detect broken dependencies.
    - cron: '33 6 * * *'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # os: [ ubuntu-20.04, windows-latest, macOS-latest ]
        os: [ ubuntu-20.04 ]
        ros_distribution: [ noetic ]
    steps:
    - uses: actions/checkout@v2
    - uses: ros-tooling/setup-ros@0.0.26
      with:
        required-ros-distributions: ${{ matrix.ros_distribution }}
    - uses : ros-tooling/action-ros-ci@0.1.0
      with:
        package-name: bosch_locator_bridge
        vcs-repo-file-url: ''
        target-ros1-distro: ${{ matrix.ros_distribution }}
        colcon-mixin-name: coverage-gcc
        colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
